# Week 3 Peer Graded Assignment - Segmenting and Clustering Neighborhoods in Toronto

## 1. Scraping the wikipedia page and transforming the data

Import the needed libraries

In [9]:
import pandas as pd
import requests
#from bs4 import BeautifulSoup

Scrape the postal code table using pandas. The first item in object is read into the dataframe, which is the table.

In [13]:
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
175,M5Z,Not assigned,Not assigned
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned

First we remove the rows where Borough has Not Assigned value.

In [14]:
to_drop = ['Not assigned']

In [15]:
df2 = df[~df['Borough'].isin(to_drop)] #df2 is df where the isin() check is false
df2 = df2.reset_index(drop = True)
df2

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Check if any Neighbourhoods have Not assigned value after.

In [16]:
df2.loc[df2["Neighbourhood"] == "Not assigned"]

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

There are no such rows currently. Such row may be added in the future, so as a safety measure we change Not assigned Neighbourhood values to the value of Borough.

In [17]:
df2.loc[df2["Neighbourhood"] == "Not assigned", "Neighbourhood"] = df2.loc[df2["Neighbourhood"] == "Not assigned","Borough"]
df2

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Now that we ensured that there are no Not assigned values, we can group the rows based on Postal Code. This is another safety measure as as the time of writing this, the wikipedia page already grouped the rows.

In [18]:
toronto = df2.groupby(['Postal Code', 'Borough']).agg(lambda col: ','.join(col)).reset_index()
toronto

,Postal Code,Borough,Neighbourhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,Etobicoke,"Northwest, West Humber - Clairville"

The shape of the resulting dataframe:

In [19]:
toronto.shape

(103, 3)

## 2. Getting the coordinates of neighbourhoods

Since I couldn't get geocoder to work, I'll use the .csv option

In [7]:
!wget -O coordinates.csv https://cocl.us/Geospatial_data

--2020-10-23 16:06:51--  https://cocl.us/Geospatial_data
Resolving cocl.us (cocl.us)... 169.63.96.148, 169.63.96.51
Connecting to cocl.us (cocl.us)|169.63.96.148|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-10-23 16:06:52--  https://ibm.box.com/shared/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.box.com (ibm.box.com)... 185.235.236.197
Connecting to ibm.box.com (ibm.box.com)|185.235.236.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-10-23 16:06:52--  https://ibm.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Reusing existing connection to ibm.box.com:443.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv [following]
--2020-10-23 16:06:52--  https://ibm.ent.box.com/public/static/9afzr83pps4pwf2smjjcf1y5mvgb18rr.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 185.235.236.201
Connecting to ibm.ent.box.com (ibm.ent.box.com)|185.235.236.201|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!S89k8DSl-q_Zga6T5hD65i3QfCn5-1m2NngFMYIPRW_NA0CSZCeivZzLBMrjkEM4QQDLw70X2rtkT0wGxxRS8-PNMF14lEHo2QofLQ_RAxIw8G_fM8so4f4F1tU_H3VlUR4kfi3MDmokW_J4cEARGh5ID9LEGAAhVDwYwYsK6nlm5ut4AlpuQsJhWWQgUZHzi3ZsG6OkBUpyoRKs73HxWplxMVWtUU6cstywuwmFf84XCv8i8wELjf-Zi5AysO4q9hgNbUJwe4KMZsCnKKe-UklrkzUEzTmIAVajBoNYmnFEOgHarto7DxU5dOK91QQIosAarAynzpKpW5mUgx0J7wvdlRqt5qp00vGt3_2sH7rj3bZ-xwlB8V7Wf7w8YyKH3-OwsGAquT40Gt3X8uAbN3g4zlwYrt2_ywiXm2UQw-LlHXQiVkgpMOAl_uedpwyVkFItjnNMIiLj-mWJDc3E9HcgU9ZI8r9RU2XK6coankOz3Ab5cM-UweyqUSZaQcfsBGsjpSct-I_3L8ZNAKaJU0eqR4dOSzkIhKcK335FuborKabbkVShCR_fFOeveHdlUMlvs51ZGZYN0ZsGV_r7ekJnHQhUWIRv0gV32nVnJoutxNUCHzvN3a13O40iOGYobb8oNO0MDwL9PfQmSH9dwPgh2iDvukP7tBe8C21lh0eDz1cy2Ns8Lrmc1ZiVFKCo2ibzLvVY_tpgIjufNOWKAQm8O5SXv7Q0eGJW3Ql89p9xAZ0bhL4O1X8-fz9gQaIkS_bKivnybopPEEi65bFqCgiJ-5xAcQJ4QyZsN9I9eo-iGjs-g53OGTptI8694V480wE_6h-9gXJZtRmrI58RmJMVjqkCN1LypRDYNixCnmB1Dijr5AJkD_cGTqLDeYqcsGx4cRoY6r1ELLXw9QO51bzTQLLq7ymMw0kNXDGSsMn3jZTdq088NNOJ05TPxhwUEd1TH-5jsng7JoN30RCEup0BB-1qWzKh-R1y-eD21LKL8nVsfS0OdQRoEZ4B9liaUtWFelRn9jI-GdGUcScKK1s-ndJYhVTpnpdhhgb3A6ncSXG1jIaZm5hfqHURKjjBLMOxg2_gSs0XAdtYAj1tbZvdsCKOCNnHwjDodcvrwh_E0DGaI9wu8OlYDVAdp8zlZvPbkrkgN3P76eTlB0EvZmCTVp-G3KtU5gF9M5kLvpSPriWAYuCc2soAPcLJmhLs0RZO2qts1mXy5pJXZLp9sCm56PK-pRm5TE4NgOQiIiTZPceot9RU0gpy1R2rde3WG629dZE5uKC8mZBR3jZzlOq5VewM4q6tRgr5mt2COrwI8W2Ju6mky2GpHV28NZsWdHN5dea-m-uNvD-EkJYueH-7cPKqBgl-5HJd9cyNCeAWm4fuaN4Afmz96HlvU1mDij5jhLcITdvpI0TxwJVRyspMcsbUYua7s2b4xnGF2nY./download [following]
--2020-10-23 16:06:53--  https://public.boxcloud.com/d/1/b1!S89k8DSl-q_Zga6T5hD65i3QfCn5-1m2NngFMYIPRW_NA0CSZCeivZzLBMrjkEM4QQDLw70X2rtkT0wGxxRS8-PNMF14lEHo2QofLQ_RAxIw8G_fM8so4f4F1tU_H3VlUR4kfi3MDmokW_J4cEARGh5ID9LEGAAhVDwYwYsK6nlm5ut4AlpuQsJhWWQgUZHzi3ZsG6OkBUpyoRKs73HxWplxMVWtUU6cstywuwmFf84XCv8i8wELjf-Zi5AysO4q9hgNbUJwe4KMZsCnKKe-UklrkzUEzTmIAVajBoNYmnFEOgHarto7DxU5dOK91QQIosAarAynzpKpW5mUgx0J7wvdlRqt5qp00vGt3_2sH7rj3bZ-xwlB8V7Wf7w8YyKH3-OwsGAquT40Gt3X8uAbN3g4zlwYrt2_ywiXm2UQw-LlHXQiVkgpMOAl_uedpwyVkFItjnNMIiLj-mWJDc3E9HcgU9ZI8r9RU2XK6coankOz3Ab5cM-UweyqUSZaQcfsBGsjpSct-I_3L8ZNAKaJU0eqR4dOSzkIhKcK335FuborKabbkVShCR_fFOeveHdlUMlvs51ZGZYN0ZsGV_r7ekJnHQhUWIRv0gV32nVnJoutxNUCHzvN3a13O40iOGYobb8oNO0MDwL9PfQmSH9dwPgh2iDvukP7tBe8C21lh0eDz1cy2Ns8Lrmc1ZiVFKCo2ibzLvVY_tpgIjufNOWKAQm8O5SXv7Q0eGJW3Ql89p9xAZ0bhL4O1X8-fz9gQaIkS_bKivnybopPEEi65bFqCgiJ-5xAcQJ4QyZsN9I9eo-iGjs-g53OGTptI8694V480wE_6h-9gXJZtRmrI58RmJMVjqkCN1LypRDYNixCnmB1Dijr5AJkD_cGTqLDeYqcsGx4cRoY6r1ELLXw9QO51bzTQLLq7ymMw0kNXDGSsMn3jZTdq088NNOJ05TPxhwUEd1TH-5jsng7JoN30RCEup0BB-1qWzKh-R1y-eD21LKL8nVsfS0OdQRoEZ4B9liaUtWFelRn9jI-GdGUcScKK1s-ndJYhVTpnpdhhgb3A6ncSXG1jIaZm5hfqHURKjjBLMOxg2_gSs0XAdtYAj1tbZvdsCKOCNnHwjDodcvrwh_E0DGaI9wu8OlYDVAdp8zlZvPbkrkgN3P76eTlB0EvZmCTVp-G3KtU5gF9M5kLvpSPriWAYuCc2soAPcLJmhLs0RZO2qts1mXy5pJXZLp9sCm56PK-pRm5TE4NgOQiIiTZPceot9RU0gpy1R2rde3WG629dZE5uKC8mZBR3jZzlOq5VewM4q6tRgr5mt2COrwI8W2Ju6mky2GpHV28NZsWdHN5dea-m-uNvD-EkJYueH-7cPKqBgl-5HJd9cyNCeAWm4fuaN4Afmz96HlvU1mDij5jhLcITdvpI0TxwJVRyspMcsbUYua7s2b4xnGF2nY./download
Resolving public.boxcloud.com (public.boxcloud.com)... 185.235.236.200
Connecting to public.boxcloud.com (public.boxcloud.com)|185.235.236.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2891 (2,8K) [text/csv]
Saving to: 'coordinates.csv'

     0K ..                                                    100% 14,5M=0s

2020-10-23 16:06:54 (14,5 MB/s) - 'coordinates.csv' saved [2891/2891]

The file is downloaded, let's load it into a dataframe.

In [20]:
coordinates = pd.read_csv("coordinates.csv")
coordinates.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Looks good, now let's add the coordinates to the toroto data frame by merging them (left on toronto).

In [25]:
toronto_merged = toronto.merge(coordinates, on="Postal Code")
toronto_merged.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [26]:
toronto_merged.tail()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054

Good!